{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
      <button type="button" class="btn" id="btnSendSNSEvent">Send SNS Event</button>
      <button type="button" class="btn" id="btnSendSQSEvent">Send SQS Event</button>
      <button type="button" class="btn" id="btnSendKinesisEvent">Send Kinesis Event</button>
   </div>
<script type=text/javascript src="{{url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
<script>
    $('#btnSendSNSEvent').on('click', function(e){
        $.getJSON("http://127.0.0.1:8000/api/quote", function(data) {
                alert("Sending SNS Event")
        })
    })
    $('#btnSendSQSEvent').on('click', function(e){
        alert("Sending SQS Event")
    })
    $('#btnSendKinesisEvent').on('click', function(e){
        alert("Sending Kinesis Event")
    })

</script>
{%- endblock %}